@import '../variables';

.pond {
  position: relative;

  &__row {
    display: flex;
  }

  &__tile {
    padding: 5px;
  }

  &__tile-content {
    width: $tileSize;
    height: $tileSize;
    background: $colorGreyL1;
    cursor: pointer;
    transition: all 100ms ease;

    &:hover {
      background: $colorGreyL2;
    }
  }

  .turtle {
    position: absolute;
    transition: left 100ms ease, bottom 100ms ease;
  }
}