@import '../variables';

.turtle {
  width: $tileSize;
  height: $tileSize;
  background: $colorGreenL1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: $turtleSize;
    height: $turtleSize;
  }

  &--north {
    transform: rotateZ(0deg);
  }

  &--east {
    transform: rotateZ(90deg);
  }

  &--south {
    transform: rotateZ(180deg);
  }

  &--west {
    transform: rotateZ(-90deg);
  }
}