$fontFamily: Roboto, Arial, sans-serif;

$colorGreenL1: #acd373;
$colorGreenL2: #7ba939;
$colorCyanL1: #00dfe3;
$colorGreyL1: #e1e1e1;
$colorGreyL2: #c0bebe;
$colorGreyL3: #b7b7b7;

$tileSize: 64px;
$turtleSize: 34px;

