@import 'variables';
@import 'typography';
@import 'globals';

@import 'components/turtle';
@import 'components/pond';
@import 'components/command';
@import 'components/console';

.fish-in-the-pond {
  display: flex;
  justify-content: center;
}

.app-container {
  &__title {
    font-size: 30px;
    font-weight: normal;
    color: $colorCyanL1;
  }

  .command {
    margin-bottom: 55px;
  }

  .pond {
    margin-bottom: 55px;
  }
}